
@{
    ViewBag.Title = "AddBook";
}
@section css{
    <link href="~/assets/css/glyphiconCustom.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link href="~/assets/plugins/file-input/css/fileinput.min.css" rel="stylesheet" />
    
    <link href="~/assets/plugins/file-input/themes/explorer/theme.min.css" rel="stylesheet" />
    <style>
        .caption-cell {
            white-space: pre-line;
            overflow: auto;
            max-width: 10rem;
        }
    </style>
}
<div class="row">
    <div class="col-md-12 widget-holder">
        <div class="widget-bg">
            <div class="widget-body clearfix">
                <h5 class="box-title mr-b-0">NHẬP SÁCH VÀO THƯ VIỆN</h5>
                <p class="text-muted">Thủ thư nhập sách vào thư viện.</p>
                <div class="row">
                    <div class="col-md-8">
                        <form id="frmAddBook">
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Tiêu đề sách</label>
                                <div class="col-md-10">
                                    <input class="form-control" placeholder="Tiêu đề sách" type="text">
                                </div>
                                @*<label class="col-md-1 col-form-label pr-0">SKU</label>
                                    <div class="col-md-3">
                                        <input class="form-control" placeholder="SKU" type="text">
                                    </div>*@
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Nhà xuất bản</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="publisherID">
                                        <option></option>
                                    </select>
                                </div>
                                <label class="col-md-2 col-form-label pr-0">Ngày xuất bản</label>
                                <div class="col-md-4">
                                    <input class="form-control datepicker" placeholder="Ngày xuất bản" type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" name="publishDate">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Danh mục</label>
                                <div class="col-md-4">
                                    <select class="form-control js-states" name="CategoryID">
                                        <option></option>
                                    </select>
                                </div>
                                <label class="col-md-2 col-form-label pr-0">Các tác giả</label>
                                <div class="col-md-4">
                                    <input class="form-control" placeholder="Các tác giả" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Giá sách</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="Price">
                                </div>
                                <label class="col-md-2 col-form-label pr-0">Số trang</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="numberOfPage" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label pr-0">Vị trí tủ sách</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="LocationID">
                                        <option></option>
                                    </select>
                                </div>
                                <label class="col-md-2 col-form-label pr-0">Số lượng</label>
                                <div class="col-md-4">
                                    <input class="form-control" name="Quantity" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-right">Mô tả</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" placeholder="Giớ thiệu về sách" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="form-group row">
                                    <div class="col-md-9 ml-md-auto btn-list">
                                        <button class="btn btn-primary btn-rounded" type="button">Submit</button>
                                        <button class="btn btn-outline-default btn-rounded" type="button">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class=" col-md-4">
                        <h5 class="box-title mr-b-0">Hình ảnh sách</h5>

                        <input id="imagesBook" type="file" multiple accept="image/*" />
                    </div>
                </div>

            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>
</div>
@section js{
    <script src="~/assets/js/jquery.bootstrap-touchspin.js"></script>
    <script src="~/assets/plugins/file-input/js/plugins/piexif.min.js"></script>
    <script src="~/assets/plugins/file-input/js/plugins/sortable.min.js"></script>

    <script src="~/assets/plugins/file-input/js/plugins/purify.min.js"></script>
    <script src="~/assets/plugins/file-input/js/fileinput.min.js"></script>
    <script src="~/assets/plugins/file-input/js/locales/LANG.js"></script>
    <script src="~/assets/plugins/file-input/js/locales/vi.js"></script>
    <script src="~/assets/plugins/file-input/themes/explorer/theme.min.js"></script>
    <script>
        var createElement = {
            init: function () {
                this.loadPublisher();
                this.loadCategory();
                this.priceBook();
                this.numberOfPage();
                this.Quantity();
                this.loadLocation();
                this.imagesBook();

            },
            loadPublisher: () => {
                $.get('/Publisher/GetListAllPublisher')
                    .then((result) => {
                        console.log(result);
                        $('#frmAddBook select[name="publisherID"]').select2({
                            placeholder: 'Chọn nhà xuất bản sách',
                            data: result,


                        });
                    });
            },
            loadCategory: () => {
                $.get('/Category/GetListCategoryForSelect')
                    .then((result) => {
                        console.log(result);
                        $('#frmAddBook select[name="CategoryID"]').select2({
                            placeholder: {
                                id: '', text: 'Chọn danh mục sách'
                            },
                            data: result
                        });
                    });
            },
            priceBook: () => {
                $('#frmAddBook input[name="Price"]').TouchSpin({
                    min: 500,
                    max: 999999999,
                    step: 500,
                    decimals: 0,
                    buttondown_class: "btn btn-success",
                    buttonup_class: "btn btn-success",
                    postfix: 'vnđ',
                    postfix_extraclass: "btn btn-ouline-info",
                });
            },
            numberOfPage: () => {
                $('#frmAddBook input[name="numberOfPage"]').TouchSpin({
                    min: 1,
                    max: 999999999,
                    step: 1,
                    decimals: 0,
                    buttondown_class: "btn btn-success",
                    buttonup_class: "btn btn-success",
                    postfix: 'trang',
                    postfix_extraclass: "btn btn-ouline-info",
                });
            },
            Quantity: () => {
                $('#frmAddBook input[name="Quantity"]').TouchSpin({
                    min: 1,
                    max: 999999999,
                    step: 1,
                    decimals: 0,
                    buttondown_class: "btn btn-success",
                    buttonup_class: "btn btn-success",
                    postfix: 'cuốn',
                    postfix_extraclass: "btn btn-ouline-info",
                });
            },
            loadLocation: () => {
                $.get('/Location/GetBookCasesForSelect')
                    .then((result) => {
                        console.log(result);
                        $('#frmAddBook select[name="LocationID"]').select2({
                            placeholder: {
                                id: '', text: 'Chọn vị trí tủ sách'
                            },
                            data: result
                        });
                    });
            },
            imagesBook: () => {
                $("#imagesBook").fileinput({
                    theme: "explorer",
                    uploadUrl: "/Account/UpImage/",
                    language: 'vi',
                    minFileSize: '1',
                    maxFileSize: '2000',
                    resizeImage: true,
                    maxImageWidth: 640,
                    maxImageHeight: 640,
                    resizePreference: 'width',
                    validateInitialCount: true,
                    uploadAsync: true,
                    minFileCount: '1',
                    accept: 'image/*',
                    maxFileCount: '10',
                    browseOnZoneClick: true,
                    showBrowse: false,
                    allowedPreviewTypes: ['image'], // allow only preview of image & text files
                    allowedFileExtensions: ['jpg', 'png'],
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    fileActionSettings: {
                        showRemove: true,
                        showUpload: false,
                        showZoom: true,
                        showDrag: false,
                    },
                    //previewFileIconSettings: {
                    //    'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                    //    'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                    //    'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    //    'pdf':  '<i class="fa fa-file-pdf-o text-danger"></i>',
                    //    'zip':  '<i class="fa fa-file-archive-o text-muted"></i>',
                    //},
                    previewSettings: {
                        image: { width: "60px", height: "50px" },

                    },
                    layoutTemplates: {
                        footer: "" +
                            "<td class='file-details-cell caption-cell'>" +
                            "<label >{caption}\n{size}</label>" +
                            "</td>" +
                            "<td class='file-actions-cell'>" +
                            "{indicator}\n{actions}" +
                            "</td>",
                    },
                    removeClass: "btn btn-danger",
                    uploadClass: "btn btn-info",
                    uploadIcon: "<i class='material-icons list-icon'>file_upload</i> ",
                    removeIcon: "<i class='material-icons list-icon'>delete</i> ",
                    uploadLabel: "Tải ảnh lên",

                });
            },

        }

        $(document).ready(function () {
            createElement.init();
            $('#frmAddBook input[name="publishDate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: "DD/MM/YYYY"
                }
            });
        });
    </script>





}