

<div class="row">
    <div class="col-md-8">
        <form id="frmAddBook" action="@Url.Action("AddBook","Book")" method="post">
            <div class="form-group row">
                <label class="col-md-2 col-form-label pr-0">Tiêu đề sách</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="Tiêu đề sách" type="text" autofocus tabindex="0" name="Title">
                </div>
                @*<label class="col-md-1 col-form-label pr-0">SKU</label>
                    <div class="col-md-3">
                        <input class="form-control" placeholder="SKU" type="text">
                    </div>*@
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label pr-0">Nhà xuất bản</label>
                <div class="col-md-4">
                    <select class="form-control" name="publisherID" tabindex="1">
                        <option></option>
                    </select>
                </div>
                <label class="col-md-2 col-form-label pr-0">Ngày xuất bản</label>
                <div class="col-md-4 ">

                    <div class="form-input-icon">
                        <i class="material-icons list-icon">date_range</i>
                        <input class="form-control datepicker" tabindex="2" placeholder="Ngày xuất bản"
                               type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" name="publishDate">
                    </div>

                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label pr-0">Danh mục</label>
                <div class="col-md-4">
                    <select class="form-control js-states" name="CategoryID" tabindex="3">
                        <option></option>
                    </select>
                </div>
                <label class="col-md-2 col-form-label pr-0">Giá sách</label>
                <div class="col-md-4">
                    <input class="form-control" name="Price" tabindex="4">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label pr-0">Vị trí tủ sách</label>
                <div class="col-md-4">
                    <select class="form-control" name="LocationID" tabindex="5">
                        <option></option>
                    </select>
                </div>
                <label class="col-md-2 col-form-label pr-0">Số trang</label>
                <div class="col-md-4">
                    <input class="form-control" name="NumberOfPages" type="text" tabindex="6">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label pr-0">Các tác giả</label>
                <div class="col-md-4">
                    <input class="form-control" placeholder="Các tác giả" type="text" tabindex="7" name="Author">
                </div>
                <label class="col-md-2 col-form-label pr-0">Số lượng</label>
                <div class="col-md-4">
                    <input class="form-control" name="Quantity" type="text" tabindex="8">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-right">Mô tả</label>
                <div class="col-md-10">
                    <textarea class="form-control" placeholder="Giới thiệu về sách" rows="4" tabindex="9" name="Description"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <div class="form-group row">
                    <div class="col-md-9 ml-md-auto btn-list">
                        <button class="btn btn-primary bg-success" type="submit"><i class="material-icons list-icon">check</i> Nhập sách</button>
                        <a href="@Url.Action("Index","Book")" class="btn btn-outline-default"><i class="material-icons list-icon">library_books</i>Kho sách</a>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 ml-md-auto btn-list" id="viewError">

                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class=" col-md-4">
        <h5 class="box-title mr-b-0">Hình ảnh sách</h5>
        <input id="imagesBook" type="file" multiple accept="image/*" />
        <input type="hidden" id="checkUpload" value="0" />
    </div>
</div>
